

:root{--hmBlack: #262626;
--hmWhite:#f2f2f2;
--hmGrey:#999999;
--hfgrey:#737373;
--hblack:#1f262a;
--myfont:'Krona One', sans-serif;}

body{margin:0;padding:0;background: var(--hmWhite);
color: var(--hblack); font-family:var(--myfont)}

.wrapbox{margin: 0%; padding:20pX 20px;width: 100vw; height: auto; }



li a{list-style: none;color:var(--hmWhite); }

/*******nav bar starts ******/

.navLink{color: var(--hblack);}

/*** aler Start ***/

.alert-success {
    color:var(--hblack);
    background-color: #d19a33;
    border-color: #c3e6cb; important!}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    important!
}


/** Alert End **/

/*** Banner **/

.wrapbox .time-box{padding:0px;margin-bottom: 10px;}

.wrapbox .time-box .timeimg{width: 100%; height: auto;}

/*** how it works **/

#howItwork {background-color: var(--hblack); 
color: var(--hmWhite);text-align: center; margin-top: 180px;font-size: 18px;padding:50px 10px;}
#howItwork div {margin:10px 0px;}

/** footer starts***/

#footercontent {padding: 10px;
    background-color:var(--hbalack);
     color: var(--hmWhite);}

.footerlink li{font-size: 20px;}

       /***** signup form Starts ***/


#mc_embed_signup{
clear: left;
font: 14px Helvetica, Arial, sans-serif;
width: 100%;}
        /**** Signupform Ends***/


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
